.wrapper-product{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.product{
    margin:0 25px;
}
/* .wrapper-brand{
    width: 5px;
} */
.brand{
    text-align: right;
}
.img-product{
   width: 300px;
   height: auto;
}
.footer-des{
    display: flex;
    direction: rtl;
}
.describ{
    width:70%;
    color: #808080;
    
    
    
}
.price{
    width:30%;
    text-align: end;
}
.btn-group{
    display: flex;
    justify-content:space-around;
}
.btn-product1, .btn-product2{
    
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border:none;
    font-size: 15px;
padding: 10px 20px;
background-color: white;
  color: black;
  border: 2px solid #a9a9a9;
  width: 30%;
}
.btn-product2{
    background-color: #ff91af;
}